<div class="panel panel-default">
    <div class="panel-heading">
        <!--if add group-->
        <label *ngIf="isAdd"><i class="fa fa-users"></i>&nbsp;Add Module</label>
        <!--if group property-->
        <label *ngIf="!isAdd"><i class="fa fa-cogs"></i>&nbsp;Module Property</label>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <label class="input-sm">Module</label>
            <div class="input-group">
                <input [(ngModel)]="mdl.ModuleName" type="text" class="form-control input-sm" readonly />
                <span class="input-group-btn">
                    <button [disabled]="!isAdd" type="button" data-toggle="modal" data-target="#modal_search3" class="btn btn-default btn-sm">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <!--if add group-->
                <button *ngIf="isAdd" (click)="saveChanges()" [disabled]="mdl.ModuleID==0" class="btn btn-primary btn-sm pull-right"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                <!--if group property-->
                <a (click)="removeModule()" *ngIf="!isAdd" class="btn btn-danger btn-sm pull-right" hidden><i class="fa fa-remove"></i>&nbsp;Remove</a>
            </div>
        </div>
    </div>
</div>
<div id="modal_search3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><i class="fa fa-search"></i>&nbsp;Search</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" placeholder="search..." class="form-control input-sm" />
                        <br />
                    </div>
                </div>

                <table class="table table-bordered table-hover table-striped input-sm">
                    <thead>
                        <tr><th>Module Name</th></tr>
                    </thead>
                    <tbody>
                        <tr style=" cursor:pointer;" (click)="selectModule(u)"  data-dismiss="modal"  *ngFor="let u of modules | paginate: { id:'p_module', itemsPerPage: 5, currentPage: p }">
                            <!-- <td>{{u.ModuleID}}</td> -->
                            <td>
                                <a >
                                    {{u.ModuleName}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <pagination-controls id="p_module" (pageChange)="p = $event"></pagination-controls> 
            </div>
        </div>
    </div>
</div>