<div class="navbar navbar-blue_2 navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['Applications']">BTSS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']"><a [routerLink]="['./Applications']" class="lnk-applications"><i class="fa fa-desktop"></i>&nbsp;Applications</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['./Maintenance']" class="lnk-maintenance"><i class="fa fa-wrench"></i>&nbsp;Maintenance</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['Applications']"><i class="fa fa-user-circle"></i>&nbsp;Hello, Albert Rick Martires!</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-body">
    <!--content displays here-->
    <router-outlet></router-outlet>
</div>