<div class="panel panel-default">
    <div class="panel-heading">
        <!--if add group-->
        <label *ngIf="isAdd"><i class="fa fa-user"></i>&nbsp;Add User</label>
        <!--if group property-->
        <label *ngIf="!isAdd"><i class="fa fa-cogs"></i>&nbsp;User Property</label>
        <button type="button" class="close">&times;</button>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <label class="input-sm">User</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" readonly />
                <span class="input-group-btn">
                    <button type="button" data-toggle="modal" data-target="#modal_search4" class="btn btn-default btn-sm">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <!--if add group-->
                <a href="#" *ngIf="isAdd" class="btn btn-primary btn-sm pull-right"><i class="fa fa-floppy-o"></i>&nbsp;Save</a>
                <!--if group property-->
                <a href="#" *ngIf="!isAdd" class="btn btn-danger btn-sm pull-right" hidden><i class="fa fa-remove"></i>&nbsp;Remove</a>
            </div>
        </div>
    </div>
</div>
<div id="modal_search4" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><i class="fa fa-search"></i>&nbsp;Search</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" placeholder="search..." class="form-control input-sm" />
                        <br />
                    </div>
                </div>

                <table class="table table-bordered table-hover table-striped input-sm">
                    <thead>
                        <tr><th>User ID</th><th>User Name</th><th>Last Name</th><th>First Name</th></tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of users  | paginate: {id: 'p_user', itemsPerPage: 5, currentPage: p }">
                            <td>{{u.UserID}}</td>
                            <td>{{u.UserName}}</td>
                            <td>{{u.UserFirstName}}</td>
                            <td>{{u.UserLastName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <pagination-controls id="p_user" (pageChange)="p = $event"></pagination-controls> 
            </div>
        </div>
    </div>
</div>