<div class="panel panel-default">
    <div class="panel-heading">
        <!--if add group-->
        <label *ngIf="isAdd"><i class="fa fa-table"></i>&nbsp;Add Table</label>
        <!--if group property-->
        <label *ngIf="!isAdd"><i class="fa fa-cogs"></i>&nbsp;Table Property</label>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <label class="input-sm">Table</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="tbl.TableName" class="form-control input-sm" readonly />
                <span class="input-group-btn">
                    <button [disabled]="!isAdd" type="button" data-toggle="modal" data-target="#modal_search2" class="btn btn-default btn-sm">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <br />
        </div>
        <div class="col-md-12">
            <input [disabled]="tbl.TableID==0" [(ngModel)]="appGroupTable.CanGet" id="canget" type="checkbox" class="css-checkbox med"><label for="canget" class="css-label med elegant input-sm">Can Get</label>
        </div>
        <div class="col-md-12">
            <input [disabled]="tbl.TableID==0" [(ngModel)]="appGroupTable.CanPost" id="canpost" type="checkbox" class="css-checkbox med"><label for="canpost" class="css-label med elegant input-sm">Can Post</label>
        </div>
        <div class="col-md-12">
            <input [disabled]="tbl.TableID==0" [(ngModel)]="appGroupTable.CanPut" id="canput" type="checkbox" class="css-checkbox med"><label for="canput" class="css-label med elegant input-sm">Can Put</label>
        </div>
        <div class="col-md-12">
            <input [disabled]="tbl.TableID==0" [(ngModel)]="appGroupTable.CanDelete" id="candelete" type="checkbox" class="css-checkbox med"><label for="candelete" class="css-label med elegant input-sm">Can Delete</label>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button (click)="saveChanges()" [disabled]="tbl.TableID==0" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    <a href="#" *ngIf="!isAdd" class="btn btn-danger btn-sm" hidden><i class="fa fa-remove"></i>&nbsp;Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_search2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><i class="fa fa-search"></i>&nbsp;Search</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" placeholder="search..." class="form-control input-sm" />
                        <br />
                    </div>
                </div>

                <table class="table table-bordered table-hover table-striped input-sm">
                    <thead>
                        <tr><th>Table Name</th></tr>
                    </thead>
                    <tbody>
                        <tr style=" cursor:pointer;" (click)="selectTable(u)"  data-dismiss="modal" *ngFor="let u of tables | paginate: { id:'p_table', itemsPerPage: 5, currentPage: p }">
                            <!-- <td>{{u.TableID}}</td> -->
                            <td >{{u.TableName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <pagination-controls id="p_table" (pageChange)="p = $event"></pagination-controls> 
            </div>
        </div>
    </div>
</div>